.contenedor{
    background-color: rgb(14, 159, 111);
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.caja{
    background-color: violet;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.negro{
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 10px;
}